.about section {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 2rem;
}

.about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  background-color: transparent;
}

.about-header section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-content {
  width: 100%;
}

.about-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 3vw;
}

.education,
.skills {
  display: flex;
  column-gap: 2vw;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.education section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.edu-card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1rem;
}

.edu-card:hover {
  scale: 1.03;
  transition: ease-in-out;
}

.skills section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
}

.skills-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1rem;
}

.skills-card:hover {
  scale: 1.05;
  transition: ease-in-out;
}

.skills-card img {
  height: 2vw;
}

@media only screen and (max-width: 1024px) {
  .education,
  .skills {
    display: flex;
    row-gap: 1rem;
    text-align: center;
  }

  .education {
    flex-direction: column-reverse;
  }

  .edu-card:hover {
    scale: 1;
    transition: ease-in-out;
  }

  .skills {
    flex-direction: column;
  }

  .skills-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }

  .skills-card {
    padding: 2rem;
  }

  .skills-card img {
    height: 6vw;
  }

  .skills-card:hover {
    scale: 1;
    transition: ease-in-out;
  }
}
